@model IEnumerable<DeliveryBookingSystemMVCClient.Models.Executive>

@{
    ViewData["Title"] = "GetExecutivesByCity";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h3>List Of Executives in @TempData["Result"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.ActionLink("Select", "AddBooking", "Booking", new { id = item.ExecutiveId })

            </td>
        </tr>
        }
    </tbody>
</table>
